.nav{
    width: 100%;
    border-bottom: 1px solid var(--grey1);
}
.nav-container{
    width: 95%;
    margin: auto;
    padding: 1rem 0rem;
}
.nav-disp-btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .4rem .8rem;
    width: fit-content;
    border: 1px solid var(--grey1);
    box-shadow: 0px 0px 5px 2px var(--grey1);
    border-radius: .4rem;
    cursor: pointer;
}
.nav-disp-btn:hover{
    box-shadow: 0 0 10px 5px var(--grey3);
}
.nav-disp-icon{
    display: flex;
    align-items: center;
}
.nav-disp-filter{
    margin-right: .6rem;
}
.nav-disp-filter > img{
    height: 14px;
    fill: var(--grey1);
}
.nav-disp-heading{
    font-weight: 500;
}
.nav-disp-drop{
    margin-left: .3rem;
}
.nav-disp-drop > img{
    height: 16px;
}
.nav-disp-dropdown{
    display: none;
    width: fit-content;
    position: absolute;
    z-index: 100;
    margin-top: .6rem;
    padding: .8rem 1rem;
    background-color: var(--grey3);
    border: 1px solid var(--grey1);
    border-radius: .5rem;
}
.nav-disp-dropdown-show{
    display: block;
}
.nav-disp-filters{
    position: relative;
    z-index: 10;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-disp-filters:first-child{
    margin-bottom: .5rem;
}
.nav-dropdown-category{
    position: relative;
    z-index: 10;
    color: var(--textgrey);
    font-weight: 500;
}
.nav-selector{
    .card-container{
    position: relative;
    z-index: 10;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 8px 1px #ccc;
    background-color: var(--white1);
    margin-bottom: 1rem;
    cursor: pointer;
}
.card-id-wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.card-id{
    color: var(--textgrey);
    font-size: .95rem;
    font-weight: 500;
}
.card-profile{
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white1);
    background-color: #b06e0c;
    border-radius: 50%;
    font-size: .8rem;
    position: relative;
}
.card-profile-initial{
    text-transform: uppercase;
}
.card-profile-initial-available{
    height: 12px;
    width: 12px;
    background-color: var(--grey1);
    border: 1.5px solid var(--white1);
    position: absolute;
    z-index: 0;
    border-radius: 50%;
    left: 70%;
    top: 70%;
}
.card-profile-initial-available-true{
    background-color: rgb(72, 223, 12);
}
.card-title{
    font-size: 1rem;
    font-weight: 600;
    color: var(--black1);

}
.card-tag{
    display: flex;
    align-items: center;
    margin-top: .8rem;
}
.card-tag-icon{
    border: 1px solid var(--grey1);
    border-radius: .3rem;
    width: fit-content;
    height: 25px;
    display: flex;
    align-items: center;
    margin-right: .5rem;

}
.card-tag-icon > svg{
    color: var(--textgrey);
    height: 20px;
}
.card-tag-box{
    border: 1px solid var(--grey1);
    padding: .3rem;
    border-radius: .3rem;
    width: fit-content;
}
.card-tag-title{
    font-size: .85rem;
    font-weight: 500;
    color: var(--textgrey);
}
.card-tag-title::before{
    display: inline-block;
    content: " ";
    height: 10px;
    width: 10px;
    background-color: var(--textgrey);
    border-radius: 50%;
    margin-right: .2rem;
}
    padding: .3rem;
    width: 100px;
    border-radius: .3rem;
    border-color: var(--grey1);
    font-weight: 600;
    cursor: pointer;
}
